@import 'tc-includes';
$status-height: 20px;
.ProjectStatus {
  position: relative;
  height: $status-height;

  .status-icon {
    position: relative;
    display: inline-block;
    min-width: 4 * $base-unit;
    width: 4 * $base-unit;
    height: 4 * $base-unit;

    i {
      display: block;
      width: 4 * $base-unit;
      height: 4 * $base-unit;
    }
  }

  .status-label {
    position: relative;
    @include tc-label-xs;
    line-height: $base-unit*4;
    height: $base-unit*4;
    padding-right: $base-unit;
    margin-left: 10px;
  }
}

.EditableProjectStatus {
  .status-label {
    vertical-align: top;
  }

  .status-header {
    display: flex;
    height: $status-height;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: $base-unit*4;
    cursor: default;

    .caret {
      display: none;
    }

    &.editable {
      cursor: pointer;

      &:hover {
        &::after {
        }
      }
      .caret {
        display: inline-block;
        width: 9px;
        height: 20px;
        position: relative;
        margin:0 0 0 5px;

        .Icon {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }


    &.unified-header {
      background-color: $tc-gray-40;

      .status-label {
        color: $tc-white;
      }
    }
  }

  .status-label {
    position: relative;
    @include tc-label-xs;
    height: $base-unit*4;
    padding-right: $base-unit;
    margin-left: 10px;
  }

  .status-dropdown {
    min-width: 150px;
    position: absolute;
    border-radius: $base-unit;
    box-shadow: 0 0 15px rgba($tc-black, .25);
    padding: 10px 0;
    position: absolute;
    background: $tc-white;
    top: -2 * $base_unit;
    left: auto;
    right: -10px;
    z-index: 2;
    transition: 250ms all;

    &.dropdown-up {
      top: auto;
      bottom: 0;
    }

    .status-header {
      @include roboto-medium;
      font-size: $tc-label-md;
      text-align: left;
      color: #0681ff;
      line-height: 30px;
      padding-left: 20px;
      margin-bottom: 10px;
      white-space: nowrap;

      svg {
        margin: 12px 5px;
      }
    }

    a.status-option {
      display: flex;
      @include roboto-medium;
      font-size: $tc-label-md;
      text-align: left;
      line-height: 30px;
      padding: 3px 16px 5px 2px;
      white-space: nowrap;
      margin: 0 10px;

      &:hover {
        background: $tc-dark-blue-10;
      }

      &.active {
        svg {
          margin: 7px -8px;
        }
        div {
          margin: 0 8px;
        }
        .status-label {
          color: #000000;
          font-weight: bolder;
        }
      }

      svg.active-status-icon {
        margin-left: 7px;
        margin-right: 10px;
      }

      svg.active-status-icon + span {
        line-height: 25px;
      }

      .status-label {
        color: $tc-gray-80;
        padding-right: 0px;
        font-size: 13px;
        line-height: 29px;
      }
    }
  }
}

div.divider {
  width: 110px;
  border-bottom: 1px solid #dadada;
  display: block;
  -webkit-margin-before: 0.9em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}
